- @group_users.each do |group_user|
  tr.team-user.clearfix data-id="#{group_user.id}" 
    td.avatar
      = user_avatar_tag(group_user.user, :sm, link: false)
    td.name
      = group_user&.user&.name
    td.role
      = group_user.accepted? ? group_user.role : group_user.status
