= form_for @group, remote: true, class: "form", html: { tb: 'edit-group' } do |f|
  = render "shared/error_messages", target: @group
  .form-group
    .input-group
      .input-group-prepend.mr-1
        = f.select :group_type, [:public_group, :private_group], {}, class: "bootstrap-select", data: { "live-search": true }
  .form-group
    .input-group
      .input-group-prepend.mr-1
      = f.text_field :name, class: "form-control", placeholder: t("groups.form.title_placeholder")
  .form-group.row
    .col-sm-7
      = f.file_field :avatar, class: "form-control"
  .form-group
    = f.text_area :description, class: "group-editor form-control", placeholder: t("groups.form.title_placeholder"), rows: 10
  .form-actions.jcsb.hide-ios
    = f.submit t("common.create"), class: "btn btn-primary", 'data-disable-with' => t("common.saving"), 'data-tb' => "save-group"
    .hide-ios
      a href="/markdown" target="_blank" 
        i.fa.fa-life-ring
        = t("groups.form.markdown_guides")
