@import "~homeland/_vars";

#home_index {
  line-height: 160%;
}

.home-icons {
  .item {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
    background: var(--card-background-color);
    border: 1px solid var(--card-border-color);

    .icon {
      display: block;
      a {
        display: block;
        padding: 20px 15px;
      }
      .fa {
        font-size: 60px;
      }
    }
    .text {
      display: block;
      text-align: left;
      background: transparent;
      border-top: 1px solid var(--card-border-color);
      font-size: 14px;
      font-weight: bold;

      a {
        display: block;
        color: var(--text-color1);
        padding: 6px 15px;
      }
      a:hover {
        text-decoration: none;
      }
      .fa {
        margin-top: 3px;
      }
      border-radius: 0 0 3px 3px;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .item1 {
    .icon {
      .fa {
        color: var(--red);
      }
    }
  }
  .item3 {
    .icon {
      .fa {
        color: var(--blue);
      }
    }
  }
  .item2 {
    .icon {
      .fa {
        color: var(--yellow);
      }
    }
  }
  .item4 {
    .icon {
      .fa {
        color: var(--green);
      }
    }
  }
}

h2 {
  font-size: 12px;
  color: var(--text-color2);
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics {
  float: left;
  width: 450px;
}
#hot_topics {
  float: right;
  width: 450px;
}

.node-topics {
  margin-bottom: 0px;
  .head {
    display: none;
  }
}
.location-list {
  .name {
    a {
      color: var(--text-color1);
      margin: 6px;
      display: inline-block;
    }
  }
}

.home_suggest_topics {
  .topics {
    .topic {
      .title {
        height: 30px;
        overflow: hidden;
      }
    }
  }
}

.edit-group-user-modal {
  top: -50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-group-user-body {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  .sub-title{
    font-size: 13px;
    line-height: 18px;
  }
  .content-title {
    font-size: 15px;
    line-height: 21px;
  }
  .content-body {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
  }
}

.group-user-modal-content {
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  .header {
    height: 52px;
    background: rgba(34, 94, 218, 0.1);
    border-radius: 10px 10px 0px 0px;
    .content {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
    }
    font-size: 15px;
    line-height: 21px;
  }
  .body {
    max-height: 330px;
    background-color: transparent;
    margin-left: 24px;
    margin-right: 24px;
    .avatar-square-48 {
      height: 40px;
      width: 40px;
    }
    .avatar {
      margin-right: 6px;
    }
    .title {
      margin-bottom: 4px;
    }
    .content {
      padding-top: 24px;
    }
    .content-hearder {
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 1, 0.03);
    }
    font-size: 13px;
    line-height: 18px;
  }
  .text-body {
    border-bottom: 1px solid rgba(0, 0, 1, 0.03);
  }
  .footer {
    min-height: 50px;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    min-height: 50px;
    .content {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 24px;
      padding-left: 24px;
    }
    .text-area-content {
      padding-bottom: 50px;
      .btn {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
    .btn {
      height: 26px;
      min-width: 75px;
      margin-left: 10px;
    }
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

.group-sidebar {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  .content-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 1, 0.03);
    .title {
      font-size: 16px;
      line-height: 22px;
      max-width: 160px;
    }
    .sub-title {
      font-size: 14px;
      line-height: 20px;
      color: #666666;
      max-width: 160px;
    }
  }
  .content-body {
    padding-top: 10px;
    font-size: 13px;
    line-height: 18px;
    .title {
      color: #666666;
    }
    .body {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 1, 0.03);
    }
    .user-title {
      margin-left: 8px;
      font-size: 16px;
      line-height: 22px;
    }
    .user-title:hover {
      text-decoration: underline;
      color: #225EDA;
    }
  }
  .name-title {
    margin-left: 8px;
  }
  .sub-title {
    margin-left: 10px;
    margin-top: 2px;
  }
  .content-footer {
    padding-top: 16px;
    .invite-link{
      padding-top: 10px;
    }
    .caustion {
      font-size: 14px;
      line-height: 20px;
      color: #666666;
    }
  }
}

.group-tab {
  .tab-content {
    width: 100%;
  }
  .tab-pane {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs li:first-child {
    margin-left: 0px;
  }
  .tab-text {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 2px 2px 0px 0px;
  }
  .nav-tabs .nav-item .nav-link.active {
    color: #666;
    color: var(--text-color1);
    background: #fff;
    background: var(--card-background-color);
  }
  .group-tab-content {
    padding: 40px;
    .user-list-body {
      padding: 10px;
    }
    .user-list-footer {
      padding: 10px
    }
  }
  .groups {
    padding: 0px;
    border: 0px;
  }
}

.group-user-card {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  height: 60px;
  width: 276px;
  margin-bottom: 30px;
  margin-right: 12px;
  .card-avatar {
    margin-right: 6px;
  }
  .card-name {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    max-length: 200px;
    .role-tag {
      padding-top: 1px;
      padding-left: 4px;
      padding-right: 4px;
      padding-bottom: 2px;
      font-size: 12px;
      line-height: 17px;
      color: #FFFFFF;
      border-radius: 2px;
      margin-left: 7px;
    }
    .role-tag:hover {
      color: #ffffff;
    }
    .owner-tag {
      background: #F54821;
    }
    .admin-tag {
      background: #12CE0F;
    }
    .member-tag {
      background: #ffffff;
    }
  }
  .card-tag {
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    height: 17px;
    margin-top: 3px;
  }
  .card-button {
    font-size: 12px;
    line-height: 17px;
    color: #225EDA;
    height: 17px;
    margin-top: 3px;
    .btn-opt {
      margin-right: 12px;
    }
  }
}

.sidebar-text-content {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  .title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .body {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
  }
  .footer {
    margin-bottom: 30px;
  }
}

.btn-joined {
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  background-color: transparent;
  color: #666666;
}

.noti-opt-button {
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 10px;
}

.new-topic-group-avatar {
  background: #F4F4F4;
  border-radius: 4px;
  margin-bottom: 20px;
}
